doctype html
html
    head
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src="/javascript/client-side-utils.js")
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src="/javascript/jquery-functions.js")
body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Shame The Greedy
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(id="home" href='/') Home
                    if user
                        li
                            a(id="upload" href="/leeches/upload") Upload
                ul.nav.navbar-nav.navbar-right
                    if user
                        li
                            a(id="logout" href='/users/logout') Logout
                    else
                        li
                            a(id="register" href='/users/register') Register
                        li
                            a(id="login" href='/users/login') Login
    .container
        != messages('message', locals)
        if errors
            each error in errors
                div(class="alert alert-danger") #{error.msg}

        | #{session.pagination.totalGreeders} Greeders Found
        | - Showing Page #{session.pagination.currentPage} of #{session.pagination.totalPages}

        if session.pagination.currentPage > 1
            a#firstPage(href='/?showPage=1' class="link-available") |&laquo; First Page
        else
            a#firstPage(href='#' class="link-not-avaliable") |&laquo; First Page

        if session.pagination
            if session.pagination.previousPage
                a#previousPage(href='/?showPage=' + session.pagination.previousPage class="link-available") &laquo; Previous Page
            else
                a#previousPage(href='#' class="link-not-avaliable") &laquo; Previous Page

            if session.pagination.nextPage
                a#nextPage(href='/?showPage=' + session.pagination.nextPage class="link-available") Next Page &raquo;
            else
                a#nextPage(href='#' class="link-not-avaliable") Next Page &raquo;

            if session.pagination.currentPage < session.pagination.totalPages
                a#lastPage(href='/?showPage=' + session.pagination.totalPages class="link-available") Last Page &raquo;|
            else
                a#lastPage(href='#' class="link-not-avaliable") Last Page &raquo;|
        include includes/filterPopup
        block content
        br
        hr
        footer
            p Copyright &copy; 2020
