extends ../layout

block content
    h1 Register New User
    div.container
        form(method="POST" action="/users/register")
            div.form-group
                label(for="username") User Name:
                input#username.form-control(type="text" name="username" value=formData.username)
            div.form-group
                label(for="email") Email:
                input#email.form-control(type="email" name="email" value=formData.email)
            div.form-group
                label(for="password") Password:
                input#password.form-control(type="password" name="password" value=formData.password )
            div.form-group
                label(for="password2") Confirm Password:
                input#password2.form-control(type="password" name="password2" value=formData.password2 )
            button.btn.btn-primary(type="submit") Sign up
